{% extends 'base.html' %}

{% block contenido %}
<br><br>
<h1>Hola <strong>{{ jugador.jugador.username}}</strong></h1>
<br>
<h3>Tu codigo para que otros jugadores se puedan unir a la partida es el siguiente: <strong>
        {{jugador.partida.codigo_ingreso }}</strong></h3>
<br>
<div class="row">
    <div class="col">
        <a class="btn shop_bt" href="{% url 'perfil'%}">Volver a perfil</a>
    </div>
</div>

<div class="row mt-4">
    <div class="col">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Numero del jugador</th>
                    <th scope="col">Nombre del jugador</th>


                </tr>
            </thead>

            {% if registros %}
            <tbody>


                {% for i in registros %}

                <tr>
                    <th scope="row">{{ i.jugador_numero }}</th>
                    <td>{{ i.jugador.username }}</td>


                </tr>
                {% endfor %}

            </tbody>
            {% else %}
            <div class="row">
                <div class="col justify-content-center">
                    <br>
                    <br>
                    <h3>No existen registros en el momento</h3>
                </div>
            </div>
            {% endif %}
        </table>
    </div>

</div>
{% if jugador.jugador_numero == 'jugador 1' %}
{% if contador == 4 %}
<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="{% url 'partida_play' id_partida=partida.id %}">Iniciar partida</a> 
    </div>
</div>
{% else %}
<h3>Esperando completar los 4 jugadores</h3>
{% endif %}
{% else %}
<h2>Espere que el jugador 1 inicie la partida</h2>
{% endif %}

{% endblock contenido %}
     
