{% extends 'base.html' %}


{% block contenido %}
    <div class="container">
        <h1> Bienvenido(a) <strong>{{jugador.username}}</strong></h1>
        <br>
        <h3> qué deseas hacer?</h3>
        <br>
        <div class="d-grid gap-2 d-md-block">
            <a type="button" class="btn btn-primary" href="{% url 'partida_crear' %}">crear partida</a>
            <a type="button" class="btn btn-primary" href="#">Unirse a partida</a>
           
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h1>Tus partidas</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Numero de jugador</th>
                            <th scope="col">Codgio de partida</th>    
                            <th scope="col">Estado deña partida</th>
                            <th scope="col">Detalles</th>
                        </tr>
                    </thead>
    
                    {% if registros %}
                    <tbody>
    
    
                        {% for i in registros %}
    
                        <tr>
                            <th scope="row">{{ i.jugador_numero }}</th>
                            <td>{{ i.partida.codigo_ingreso }}</td>
                            <td>{{i.partida.estado}}</td>
                            {% if i.partida.estado != 'activa'%}
                                <td><p>No se puede ingresar a esta poartida</p></td>
                            {% else %}
                            <td><input type="submit" value="ingresar"></td>
                            {% endif %}
    
                        </tr>
                        {% endfor %}
    
                    </tbody>
                    {% else %}
                    <div class="row">
                        <div class="col justify-content-center">
                            <br>
                            <br>
                            <h3>No existen registros en el momento</h3>
                        </div>
                    </div>
                    {% endif %}
                </table>
        </div>
    
    </div>
    

{% endblock contenido %}
    